* {
	padding: 0;
	margin: 0;
	font-family: '나눔고딕','NanumGothicWeb','Nanum Gothic','돋움',Dotum,Helvetica,Verdana,Arial,sans-serif;
	font-size: 16px;
	font-weight: 700;
}

a:visited {
	color: black;
}

header {
	height: 100px;
	text-align: center;
	background-color: yellow;
}

li>span { font-size: 130%; }


header a{
	color: black;
	text-decoration: none;
	height: 100px;
	font-size: 300%;
	line-height: 100px;
}

nav {
	height: 50px;
}

ul {
	overflow: hidden;
	width: 500px;
	height: 100px;
	margin: auto;
}

.odd li:nth-child(2n) { background-color: #76EAEE; }
.odd li:nth-child(2n+1) { background-color: #76EE9A; }
.even li:nth-child(2n) { background-color: #76EE9A; }
.even li:nth-child(2n+1) { background-color: #76EAEE; }

li:first-child {
	list-style: none;
	float: left;
	padding: 0px;
	width: 150px;
	height: 100px;
	text-align: center;
}

li:last-child {
	list-style: none;
	float: left;
	padding: 0px;
	width: 350px;
	height: 100px;
	text-align: center;
}

li:first-child:hover {
	margin: 7px;
	width: 134px;
	height: 86px;
	margin-color: #FFFFFF;
}

li:last-child:hover {
	margin: 7px;
	width: 334px;
	height: 86px;
	margin-color: #FFFFFF;
}

li:first-child span {
	text-align: center;
	width: 150px;
	height: 100px;
	display: table-cell;
	vertical-align: middle;	
}

li:last-child span {
	text-align: center;
	width: 350px;
	height: 100px;
	display: table-cell;
	vertical-align: middle;	
}

li>a { 
	text-decoration: none;
	display:block; width: 100%; height: 350px; padding 0px;
}

a>span {
	color: black;
	font-size: 150%;
}

#lefttop { border-radius: 50px 0px 0px 0px; }
#righttop { border-radius: 0px 50px 0px 0px; }
#rightbottom { border-radius: 0px 0px 50px 0px; }
#leftbottom { border-radius: 0px 0px 0px 50px; }
